# Pandas

In [51]:
import pandas as pd
import numpy as np

In [52]:
pd.Series([1 , 2, 3, 'jadi', np.nan])

0       1
1       2
2       3
3    jadi
4     NaN
dtype: object

In [53]:
dates = pd.date_range("20200101", periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [54]:
a = np.random.randn(6, 4)

In [55]:
df = pd.DataFrame(a, index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-01-01  0.920283  0.416285 -0.384349 -0.547963
2020-01-02  1.124501 -0.624050  0.426581 -0.282562
2020-01-03  0.805025 -0.799173 -2.254307 -1.670628
2020-01-04  0.658279  0.571416 -0.216902 -0.392707
2020-01-05  0.714448 -0.660495  1.874767 -1.177112
2020-01-06 -0.096510 -0.653030  1.097379 -0.159280

In [56]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [57]:
df["A"]

2020-01-01    0.920283
2020-01-02    1.124501
2020-01-03    0.805025
2020-01-04    0.658279
2020-01-05    0.714448
2020-01-06   -0.096510
Freq: D, Name: A, dtype: float64

In [58]:
df.head(2)

                   A         B         C         D
2020-01-01  0.920283  0.416285 -0.384349 -0.547963
2020-01-02  1.124501 -0.624050  0.426581 -0.282562

In [59]:
df.tail(3)

                   A         B         C         D
2020-01-04  0.658279  0.571416 -0.216902 -0.392707
2020-01-05  0.714448 -0.660495  1.874767 -1.177112
2020-01-06 -0.096510 -0.653030  1.097379 -0.159280

In [60]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.687671 -0.291508  0.090528 -0.705042
std    0.418383  0.613313  1.423268  0.592246
min   -0.096510 -0.799173 -2.254307 -1.670628
25%    0.672321 -0.658629 -0.342487 -1.019824
50%    0.759736 -0.638540  0.104840 -0.470335
75%    0.891468  0.156201  0.929680 -0.310098
max    1.124501  0.571416  1.874767 -0.159280

In [61]:
df.mean()

A    0.687671
B   -0.291508
C    0.090528
D   -0.705042
dtype: float64

In [62]:
df["A"].mean()

0.687670819113837

In [63]:
df[0:2]

                   A         B         C         D
2020-01-01  0.920283  0.416285 -0.384349 -0.547963
2020-01-02  1.124501 -0.624050  0.426581 -0.282562

In [64]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A    0.920283    1.124501    0.805025    0.658279    0.714448   -0.096510
B    0.416285   -0.624050   -0.799173    0.571416   -0.660495   -0.653030
C   -0.384349    0.426581   -2.254307   -0.216902    1.874767    1.097379
D   -0.547963   -0.282562   -1.670628   -0.392707   -1.177112   -0.159280

In [65]:
df.sort_values(by="B")

                   A         B         C         D
2020-01-03  0.805025 -0.799173 -2.254307 -1.670628
2020-01-05  0.714448 -0.660495  1.874767 -1.177112
2020-01-06 -0.096510 -0.653030  1.097379 -0.159280
2020-01-02  1.124501 -0.624050  0.426581 -0.282562
2020-01-01  0.920283  0.416285 -0.384349 -0.547963
2020-01-04  0.658279  0.571416 -0.216902 -0.392707

In [66]:
df[df["A"] > 0]

                   A         B         C         D
2020-01-01  0.920283  0.416285 -0.384349 -0.547963
2020-01-02  1.124501 -0.624050  0.426581 -0.282562
2020-01-03  0.805025 -0.799173 -2.254307 -1.670628
2020-01-04  0.658279  0.571416 -0.216902 -0.392707
2020-01-05  0.714448 -0.660495  1.874767 -1.177112

### Read and Write operations

In [67]:
# pd.read_csv("myfile.csv")
df.to_csv("mycsv.csv")

In [68]:
df.to_excel("myexcel.xlsx")